.nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    z-index: 100; /* Añadido para visibilidad sobre otros elementos */
    background: #000;
}

.nav.active {
    background: #fff;
    padding: 15px;
}

.nav.active .logo,
.nav.active a {
    color: #000;
}

.nav.active a:hover {
    background: #000;
    color: #fff;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}